* {
  margin: 0px;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html {
  min-height: 100%;
}

.navbar {
  position: sticky;
  border-bottom: 1px solid #878080;
  width: 100%;
}

.navbar-brand.logo {
  font-size: 24px;
  width: 40%;
  align-items: left;
}

.logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #4aaaa5;
  line-height: 30px;
  width: 35%;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  /*  color: #fff !important;*/
  margin: 3px;
  float: left;
}

.container-main {
  background-image: url("/images/background1.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  position: justify;
  display: flex;
  box-sizing: border-box;
  max-width: 200px;
  max-height: auto;
  padding-right: 50px;
}

.contact-container {
  max-width: 70%;
}

.form-control {
  background-color: rgb(180, 176, 176);
}
 


.footer {
  height: 62px;
  border-top: 6px solid #4aaaa5;
  margin-top: 3px;
  background-color: #666;
  padding-top: 14px;
  color: #fff;
  width: 100%;
}
